.App {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  width: 100%;
  height: 100%;
  color: black;

  background-color: rgb(251,251,252);
/* background: linear-gradient(85deg, rgb(187, 213, 219) 31%, rgba(12, 206, 240, 0.849) 69%); */

}

a .btn {
  transition: all 300ms ease;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(16, 16, 16);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* css for app  */

/* styles.css */

/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


/* Global styles */
body {

  background-color: #f2f2f2;
  color: #0c0b0b;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header styles */
header {
  /* background-color:inherit; */
  color: #151414;
  text-align: center;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20px;
}

header h1 {
  font-size: 3rem;
  
}

.text-container p{
  font-size: 30px;
}

.aboutImg{
  width: 300px;
  height: 300px;
  position: relative;
  left:150px
}

.headerh1 {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: rgb(12, 1, 1);
  margin-left: 50px;
 
  font-size: 50px;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
  font-size: 20px;
  cursor: pointer;
}

header nav ul li a {
  color: #0c0000;
  text-decoration:none;
}

/* Main section styles */
main {
  padding: 20px 0;
}

/* Section styles */
section {
  height: 100%;
  padding: 20px;
  font-size:40px;
  /* background-color: #fff; */
  border-radius: 5px;
}

section h2 {
  margin-bottom: 10px;
}

/* Form styles */
form {
  max-width: 500px;
  margin: 0 auto;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #eee5e5;
  color: #0a0000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
  transform: scale(1.1);
}

/* Footer styles */
footer {
  text-align: center;
  padding: 10px 0;
  /* background-color:inherit; */
  color: #070000;
}

/* about css */

#about{
 
  background-color: inherit;
  color:black;
  height: 600px;
}

.about-section {
 
  height: 550px;
  display: flex;
  justify-content: center; /* Align content horizontally in the center */
  align-items: center; /* Align content vertically in the center */
}

.about-content {
  display: flex;
  justify-content: space-between; /* Distribute items evenly along the main axis */
  align-items: center;
  max-width: 800px; /* Adjust the width as needed */
  width: 100%;
}

.image-container {
  flex: 1; 
  margin-right: 20px; 
}

.image-container img {
  max-width: 100%;
  height:300px;
  
}

.details-container {
  flex: 2; 
}
.Aboutlogo{
  width: 30px ;
  height: 30px;
  margin: 10px;
}

.aboutButton{
  width: 120px;
  height: 40px;
  border-radius: 20px;
  margin: 5px;
  font-size:15px;

}
.aboutContactButton{
  width: 120px;
  height: 40px;
  border-radius: 20px;
  margin: 5px;
  font-size:15px;
  background-color: #f3f0f0;
}
.aboutContactButton a {
  color: black ;
  text-decoration: none;
}


.social-icons a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
}

.social-icons img {
  width: 40px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.social-icons img:hover {
  transform: scale(1.1); /* Enlarge image on hover */
}


/* Additional styling as needed */

/* project css */
.projects{
  background: radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(228, 42, 14) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);

  height: 750px;
}

/* contact css */
#contact{
  margin: 0 auto ;
  margin-top:150px;
  margin-bottom: 150px;
  background-color: inherit;
  height: 350px;
  text-align: center;
  padding: 150px 0;
  padding-top: 50px;
  
}
h5{
  color: #666;
}

section h2{
  color: #3a3838;
}
.contact-list {
  list-style: none;
  padding: 0;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contact-list li {
  margin: 0 40px;
  padding: 5px;
}

.contact-list li img {
  width: 60px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.contact-list li img:hover {
  transform: scale(1.1); 
}

/* form{
  border: 2px solid rgb(56, 53, 53);
  border-radius: 20px;

} */




/* About me css */
.introduction{
font-size: 40px;
margin: 30px;
text-align: center;
padding: 10px;
 margin-top: 0px;
 
 
}
.introduction p{
  font-size: 20px;
}



.pic img{
  position: relative;
  right: 150px;
  top: 50px;
  left: 4px;
  bottom: 10px;
  max-width: 50%;
  width: 400px;
  margin-bottom: 50px; /* Adjust the image size as needed */
}
.AboutMeForm{
  height: 80px;
  font-size:30px;
  color: rgb(10, 0, 0);
  text-align:center;
  display: flex;
  justify-content: center;


}



section form ul{
  list-style-type: none;
}

.educationlogo {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  padding: 0px;
  position: relative;
  right: 10px;

  top:20px;
  

}

 
/* project css */


.project-container {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  gap: 2 rem ;
  margin: 10px;
  padding: 10px;
  justify-content: space-evenly;
  align-items: center;
}

.projectClass {
  flex:  0 auto; 
  width: 380px;
  height: 500px;
  padding: 20px;
  border: 2px solid gray;
  border-radius: 20px; 
}
.project-container :hover{
  background-color:#a7a8a8;
 
}


.project-card {

  border-radius: 8px; 
  overflow: hidden;
  gap: 2rem; 
}
.project-card :hover{
  background: inherit;

}

.project-card img {
  width: 400px;
  height: 280px;
  position: relative;
  right: 20px;
 
}

.project-card video {
  width: 550px; 
}

.project-details {
  padding: 20px; 
}

.project-links {
  display: flex; 
  gap: 10px; 
}

.project-links button {
  background-color: #edeff2;
  border: 1px solid black;
  border-radius: 20px; 
  padding: 8px 16px; 
  margin: 0 auto;
}

.project-links button:hover {
  background-color: #111212;
  cursor: pointer; 
  color: white;
  transform: scale(1.1);
}

.project-links button a{
  color: #070000;
  text-decoration: none;
}
.project-links button a:hover {
  background-color: #111212;
 color: white;
 transform: scale(1.1);
}


/* skill css */
/* components/About.css */

/* Container for the entire section */
#experience {
  padding: 20px;
  height: 700px;
}

/* Section text */
.section__text__p1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Title */
.title {
  font-size: 3rem;
  margin-bottom: 20px;
}

/* Container for the experience details */
.experience-details-container {
  display: flex;
  flex-direction: column;
}

/* Individual details container */
.details-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

/* Experience sub title */
.experience-sub-title {
  font-size: 2rem;
  margin-bottom: 10px;

}

/* Container for articles */
.article-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 20px;
}

/* Individual article */
.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px; /* Adjust width as needed */
  margin-right: 20px;
  margin-bottom: 20px;

}

/* Skill icon */
.icon {
  width: 70px; /* Adjust size as needed */
  height: 70px; /* Adjust size as needed */
  margin-bottom: 10px;
  margin: 0 auto;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
 
}

article :hover{
  transform: scale(1.1);
}

/* Skill title */
h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  
}

/* Skill description */
p {
  font-size: 1rem;
  color: #666;
}
